@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

$primary-color: #324855;
$secondary-color: #5c8c8c;
$tertiary-color: #90c0cc;

.in {
  outline: none;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
  border: 4px solid $primary-color;
  background-color: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelLine {
  user-select: none;
  position: absolute;
  font-size: 1.6em;
  font-weight: 600;
  color: #324855;
  padding: 0 25px;
  margin: 0 20px;
  background-color: $secondary-color;
  transition: 0.2s ease;
}

.input {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 40px;
}

input:focus,
input:valid {
  color: $primary-color;
  border: 4px solid $tertiary-color;
}

input:focus + .labelLine,
input:valid + .labelLine {
  color: $primary-color;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}

.text {
  color: $primary-color;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}

.table {
  border: 4px solid $tertiary-color;
  border-collapse: collapse;
  color: $primary-color;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.content {
  overflow-x: auto;
  display: block;
}

.th {
  border: 4px solid $tertiary-color;
  padding: 8px;
  text-align: center;
}

.td {
  border: 4px solid $tertiary-color;
  padding: 8px;
  text-align: center;
}
