@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

$primary-color: #324855;
$secondary-color: #5c8c8c;
$tertiary-color: #90c0cc;

.container {
  display: flex;
  gap: 10vh;
}

a {
  color: $primary-color;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.secondColumn {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.textWrapper {
  background-color: $tertiary-color;
  border-radius: 18px;
  padding: 12px 16px;
  display: inline-flex;
  flex-direction: column;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.popup {
  background-color: $secondary-color ;
  border-radius: 20px;
  padding: 16px;
}

//.in {
//  outline: none;
//  font-size: 1.7em;
//  padding: 0 20px;
//  line-height: 40px;
//  border-radius: 60px;
//  border: 4px solid $primary-color;
//  background-color: transparent;
//  transition: 0.1s ease;
//}
//
//.input {
//  display: flex;
//  flex-direction: column;
//  align-self: center;
//  margin-bottom: 20px;
//}

.dropdown {
  box-sizing: border-box;
  position: relative;
  width: 250px;
}

.select {
  background: $secondary-color;
  color: $primary-color;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px $primary-color solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: $secondary-color;
  border: 2px $primary-color solid;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  color: $primary-color;
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu-open {
  display: block;
  opacity: 1;
}

.select-clicked {
  border: 2px $secondary-color solid;
  box-shadow: 0 0 0.8em $primary-color;
}

.select:hover {
  background: $secondary-color;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.menu li:hover {
  background: $primary-color;
  color: $tertiary-color;
}

.active {
  background: $primary-color;
  color: $tertiary-color;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.type {
  color: $primary-color;
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  padding: 7px 50px 7px 50px;
}

.type:hover {
  transform: scale(1.03);
}
.type:active {
  transform: scale(0.97);
}



























